/* .movie_list{
  background-color: rgb(92, 76, 76);
  color: white;
} */
.simapart{
  background-color: rgb(56, 61, 64);
  color: white;
  padding-bottom: 50px;
}

h3 .trending{
  color: black;
}

img {
  width: 100%;
	-webkit-box-reflect: below 5px
		linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
}
.zoom:hover {
  transform: scale(1.5); 
  overflow: hidden;
  transition: transform 1.5s ease;
  position: relative;
  z-index: 9999;
}

.movie_row{
  padding-bottom: 5%;
}

.bgrd{
  background-image: url("../images/the_perfumier.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 333px;
  float: none; 
  margin: 0 auto;
}
.title_div{
  color: white;
}
.button_perfumier{
  margin-top: 175px;
  background-color: red;
  color: white;
}